body{
	background: #ccc;
	font-family: comic sans ms
}
body:hover{
	display: none;
}
h1{
	color:#F0FF00;
}
h1:hover{
	
}
ul:hover{
 	background:#ef1265; 
}
h2{
 background: #12EFF2
}
p{
	color:#3333ff;
	font-size:30px;
}
